@charset "UTF-8";




.container3 {
	
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
}

.col-lg-12 {
	padding-top:200px;
	max-width : 100%;
}

.card-body {
	
}


.table th {
    padding-right: 50px;
  
}